* {
    padding: 0px;
    margin: 0px;
  font-family: "Playfair Display", serif;
}
.part1 {
    position: sticky;
    top: 0px;
}

.part1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 227, 240);

}

.part1 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding-right: 80px;
}

.part1 ul i {
    margin-left: 20px;
}

.part1 input {
    padding: 15px;
    padding-right: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.part2 UL {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    /* background-color: whitesmoke; */
}

#img1 {
    padding-left: 50px;
}

.icon1 {
    margin-top: 35px;
    margin-left: -185px;
    font-size: 25px;
}

.icon2 {
    margin-top: 35px;
    font-size: 25px;
    /* margin-left: -200px; */
}

.icon3 {
    margin-top: 35px;
    font-size: 25px;
    /* margin-left: -200px; */
}

#check{
    display: none;
}
#checkbtn{
    display: none;
    font-size: 50px;
    margin-top: 20px;
}
#check:checked ~ .part1 ul{
    /* right: 0; */
    display: block;
}
@media(max-width: 450px){
    .part1 ul {
        flex-direction: column;
        /* display: block; */
    /* text-align: left; */
    /* align-items: start; */
    position:fixed;
    top: 78px;
    /* right: 51%; */
    width: 68%;
    display: none;
    height: 100vh; 
    background-color: rgb(243, 227, 240);
    /* border-radius: 10px; */
}
.part1 li{
        padding: 50px;
        font-size: 40px;
        display: flex;
        gap: 10px;

    }
    .part1 br{
        display: none;
    }
    #input1{
        /* display: none; */
        /* font-size: 10px; */
        position: fixed;
        /* top: 65px; */
        left: 125px;
        size: 10px;
        padding-right: 60px;
        /* margin-left: -15px; */
    }
    #img1{
        /* position: fixed; */
        /* left: -70px; */
        margin-left: -130px;
    }
    .icon1 {
        display: none;
        font-size: 0px;
    }
    .icon2 {
        display: none;
        font-size: 0px;
    }
    .icon3 {
        display: none;
        font-size: 0px;
    }
    #checkbtn{
        display: block;
        /* position: fixed; */
        /* top: 1px; */
        margin-right: -50px;
        margin-top: 9px;

        
    }
    .part4{
        text-align: center;
    }
    .part6{
        display: none;
    }
  
    .part9{
        /* flex-direction: column; */
        flex-wrap: wrap;
        text-align: center;
    }
    .part10{
        flex-wrap: wrap;
        text-align: center;
    }
    .part13{
        flex-direction: column;
        text-align: center;
    }
    .part14 img{
        display: none;
        /* flex-direction: column; */
    }
    .part3c{
        flex-direction: column;
        text-align: center;
    }
    .part2{
        display: none;
    }
    .part14 video{
        margin-top: -200px;
        /* margin-left: -210px; */
        text-align: center;
        height: 300px;
        width: 440px;
    }
    .part15{
        /* flex-wrap: wrap; */
        flex-direction: column;
text-align: center;
    }
    .part3{
        /* display: none; */
    }
    .part18a{
        height: 300px;
    }
    .part18b{
        height: 310px;
    }
    .part19{
        flex-direction: column;
    }
    .part20{
        flex-direction: column;
    }
    .part18c{
        /* display: none; */
        margin-right: -220px;
    }
    .part18d{
        /* display: none; */
        margin-right: -200px;
    }
    .part17{
        /* flex-wrap: wrap; */
        /* margin-left: -111px; */
    }
    .part17a{
        display: none;

    }
    .part17b{
        display: none;

    }
    .part17c{
        display: none;

    }
}

.part3{
    height: 578px;
    background-image: url(../images/task1.jpj.webp);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes slider{
    0%{background-image: url(https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw1cb2cf12/homepage/HeroBanner/rwj-desktop.jpg);}
    20%{background-image: url(https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw14fc94ce/homepage/HeroBanner/rivaah-tt-launch-desktop.jpg);}
    40%{background-image: url(https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw5b300d46/homepage/HeroBanner/into-eternity-offer-desktop.jpg);}
    60%{background-image: url(https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw53ca8251/homepage/HeroBanner/unbound-desktop.jpg);}
    80%{background-image: url(https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw258ad774/homepage/HeroBanner/engagement-rings-desktop.jpg);}
    100%{background-image: url(https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwb1b2001d/homepage/HeroBanner/gifting-banner-desktop.jpg);}
}
.part3a{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 30px;
    color: brown;
    font-size: 40px;
}
.part3b{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.part3c{
    display: flex;
    justify-content: space-around;
}
.part3c img:hover{
    border: 2px solid rgb(212, 211, 213);
    }
.part4{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 30px;
    color: brown;
    font-size: 40px;
}
.part5{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.part6{
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 120px;
}
.part6 img{
    border-radius: 20px;
}
.part6 video{
    border-radius: 20px;
}
#part6a{
    margin-left: 400px;
    /* margin-top: -10px; */
}
#part6b{
    margin-left: 500px;
    margin-top: -260px;
}
#part6c{
    margin-left: 1000px;
    margin-top: -245px;
}
#part6d{
    margin-left: 850px;
    margin-top: -260px;
}
#part6e{
    margin-left: 650px;
    margin-top: -350px;
}
.part6:hover{
    border: 2px solid rgb(212, 211, 213);
}

.part7{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 30px;
    color: brown;
    font-size: 40px;
}
.part8{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}


.part9{
    display: flex;
    justify-content:space-around;
    padding-top: 40px;
}
#part9a:hover{
    border: 4px solid rgb(212, 211, 213);
}
#part9a1{
    margin-left: 15px;
    color: brown;
    font-size: 22px;
}
#part9a2{
    margin-left: 30px;
}
.part10{
    display: flex;
    justify-content:space-around;
    padding-top: 40px;
}
.part11{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 30px;
    color: brown;
    font-size: 40px;
}
.part12{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.part13{
    display: flex;
    justify-content:space-around;
    padding-top: 40px;
}

#part13a1{
    margin-left: 150px;
    color: brown;
    font-size: 22px;
}

#part13a2{
    margin-left: 160px;
}
.part14{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.part14 img{
    border-radius: 30px;
    padding: 20px;
}
.part15{
    display: flex;
    justify-content: space-around;
    background-color: wheat;
    margin-top: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}
.part15a ul{
    list-style: none;
}
.part15a li{
    padding: 15px;
}
.part15b ul{
    list-style: none;
}
.part15b li{
    padding: 15px;
}
.part15c ul{
    list-style: none;
}
.part15c li{
    padding: 15px;
}
.part15d ul{
    list-style: none;
}
.part15 h1{
    color: brown;
    padding: 5px;
}
.part16{
    display: flex;
    justify-content:space-around;
}
.part16{
    margin-top: 35px;
    text-align: center;
}
.part16a{
    text-align: center;
}
.part17{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;

    border: 2px solid rgb(223, 219, 219);
    border-radius: 30px;
}
.part17a,.part17b,.part17c {
    border-radius: 30px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
.part17a:hover,.part17b:hover,.part17c:hover {
    background-color: rgb(164, 36, 83);
    color: whitesmoke;
}
.part18{
    margin-top: 25px;
    text-align: center;
}
.part18b{
    border-radius: 30px;
    
}
.part18c,.part18d{
    /* margin-right: 100px; */
}
.part18c{
    position: absolute;
    margin-top: -91px;
    right: 408px;
    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    color: rgb(205, 77, 119);
}
.part18d{
    position: absolute;
    margin-top: -113px;
    right: 210px;
    padding: 12px;
    padding-right: 26px;
    padding-left: 26px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    color: rgb(205, 77, 119);
}
.part18c:hover{
background-color: rgb(205, 77, 119);
color: white;
}
.part18d:hover{
    background-color: rgb(205, 77, 119);
    color: white;
    }
    .part19{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .part19a{
        /* color: rgb(14, 6, 6); */
        padding: 50px;
        padding-right: 300px;
        border-radius: 5px;
        border: 2px solid rebeccapurple;
        background-image: url(https://i.pinimg.com/236x/f5/9e/f8/f59ef87fd24c277002b4756f64388d83.jpg);
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
    }
    .part19a button{
        background-color: white;
        font-size: 20px;
        padding: 3px;
        border-radius: 2px;
    }
    .part19a button:hover{
padding-right: 260px;
    }
    .part19b{
        padding: 50px;
        padding-right: 300px;
        border-radius: 5px;
        border: 2px solid rebeccapurple;
        background-image: url(https://www.shutterstock.com/shutterstock/photos/1722938428/display_1500/stock-photo-traditional-indian-gold-bangles-also-known-as-sone-ka-kada-or-sone-ka-kangan-1722938428.jpg);
        /* background-repeat: no-repeat; */
        background-size: cover;
    }
    .part19b button{
        background-color: white;
        font-size: 20px;
        padding: 3px;
        border-radius: 2px;
    }
    .part19b button:hover{
padding-right: 260px;
    }
    .part20{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .part20a{
        color: white;
        padding: 30px;
        padding-right: 200px;
        border-radius: 5px;
        border: 2px solid rebeccapurple;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS7YlXnFL3dgsbFsS3X2hHjw7TqHaPOtWYnQ&s);
    
    }
    .part20a button{
        background-color: white;
        font-size: 20px;
        padding: 3px;
        border-radius: 2px;
    }
    .part20a button:hover{
padding-right: 80px;
    }
    .part20b{
        color: white;
        padding: 30px;
        padding-right: 200px;
        border-radius: 5px;
        border: 2px solid rebeccapurple;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNWNKjv-suIAm2-sE9y3F51_WF-d4jbxac2g&s);
    
    }
    .part20b button{
        background-color: white;
        font-size: 20px;
        padding: 3px;
        border-radius: 2px;
    }
    .part20b button:hover{
padding-right: 80px;
    }
    .part20c{
        color: white;
        padding: 30px;
        padding-right: 200px;
        border-radius: 5px;
        border: 2px solid rebeccapurple;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvISQC2W1S6o8GucxHkQ06SJDVrS1PBVTXKA&s);
    /* background-repeat: no-repeat; */
    background-size: cover;
    }
    .part20c button{
        background-color: white;
        font-size: 20px;
        padding: 3px;
        border-radius: 2px;
    }
    .part20c button:hover{
padding-right: 80px;
    }